In [12]:
import psycopg2
import pandas as pd

# Database connection details
DATABASE_URL = 'postgresql://weather_user:root@localhost:5432/weather_data'

# Connect to the database
conn = psycopg2.connect(DATABASE_URL)
cur = conn.cursor()

# Fetch weather data from the database
cur.execute("SELECT * FROM weather_data")
weather_data = cur.fetchall()

In [15]:
# Fetch weather data from the database (ignore rows with NULL values for statistics)
cur.execute("""
    SELECT station_id, date, max_temp, min_temp, precipitation
    FROM weather_data
    WHERE max_temp IS NOT NULL 
      AND min_temp IS NOT NULL 
      AND precipitation IS NOT NULL
""")
weather_data = cur.fetchall()

In [21]:
weather_df = pd.DataFrame(weather_data, columns=['station_id', 'date', 'max_temp', 'min_temp', 'precipitation']).sort_values(by='date')

In [22]:
weather_df

          station_id        date  max_temp  min_temp  precipitation
1301551  USC00257515  1985-01-01      -6.7     -16.7            0.0
780029   USC00132864  1985-01-01      -6.1     -15.6            5.3
431433   USC00122149  1985-01-01       3.9      -1.7           29.5
1046919  USC00252205  1985-01-01     -12.2     -16.1            0.0
1016778  USC00251200  1985-01-01      -7.2     -12.2            0.0
...              ...         ...       ...       ...            ...
1468265  USC00332791  2014-12-31      -5.6     -11.1            0.0
2259931  USC00127298  2014-12-31      -3.9     -12.8            0.0
75131    USC00112483  2014-12-31      -1.7      -9.4            0.0
726524   USC00130600  2014-12-31      -8.9     -16.7            0.0
144862   USC00115079  2014-12-31      -5.0     -14.4            0.0

[3399064 rows x 5 columns]

In [23]:
# Convert date column to datetime format and extract year
weather_df['date'] = pd.to_datetime(weather_df['date'])
weather_df['year'] = weather_df['date'].dt.year

In [24]:
# Convert precipitation from mm to cm
weather_df['precipitation'] = weather_df['precipitation'] / 10.0

In [25]:
weather_df

          station_id       date  max_temp  min_temp  precipitation  year
1301551  USC00257515 1985-01-01      -6.7     -16.7           0.00  1985
780029   USC00132864 1985-01-01      -6.1     -15.6           0.53  1985
431433   USC00122149 1985-01-01       3.9      -1.7           2.95  1985
1046919  USC00252205 1985-01-01     -12.2     -16.1           0.00  1985
1016778  USC00251200 1985-01-01      -7.2     -12.2           0.00  1985
...              ...        ...       ...       ...            ...   ...
1468265  USC00332791 2014-12-31      -5.6     -11.1           0.00  2014
2259931  USC00127298 2014-12-31      -3.9     -12.8           0.00  2014
75131    USC00112483 2014-12-31      -1.7      -9.4           0.00  2014
726524   USC00130600 2014-12-31      -8.9     -16.7           0.00  2014
144862   USC00115079 2014-12-31      -5.0     -14.4           0.00  2014

[3399064 rows x 6 columns]

In [26]:
yearly_stats_df = weather_df.groupby(['station_id', 'year']).agg(
    avg_max_temp=('max_temp', 'mean'),
    avg_min_temp=('min_temp', 'mean'),
    total_precipitation=('precipitation', 'sum')
).reset_index()

In [27]:
yearly_stats_df.head()

    station_id  year  avg_max_temp  avg_min_temp  total_precipitation
0  USC00110072  1985     15.354808      4.326446               155.44
1  USC00110072  1986     12.696337      2.176190               101.06
2  USC00110072  1987     17.760274      6.329863               158.72
3  USC00110072  1988     17.347268      4.534973               108.20
4  USC00110072  1989     15.651507      3.983562               158.74

In [28]:
for index, row in yearly_stats_df.iterrows():
    cur.execute("""
        INSERT INTO yearly_weather_stats (station_id, year, avg_max_temp, avg_min_temp, total_precipitation)
        VALUES (%s, %s, %s, %s, %s)
        ON CONFLICT (station_id, year) DO UPDATE 
        SET avg_max_temp = EXCLUDED.avg_max_temp, 
            avg_min_temp = EXCLUDED.avg_min_temp, 
            total_precipitation = EXCLUDED.total_precipitation;
    """, (row['station_id'], row['year'], row['avg_max_temp'], row['avg_min_temp'], row['total_precipitation']))

# Commit the transaction and close the connection
conn.commit()
cur.close()
conn.close()